@model RepairCompanyManagement.WebUI.Models.EmployeeFullInfoViewModel

<td>@Model.Surname</td>
<td>@Model.FirstName</td>
<td>@Model.LastName</td>
<td>@Model.PhoneNumber</td>
<td>@Model.Email</td>
<td>@Model.JobPositionName</td>
<td>@Model.BrigadeName</td>
