@model RepairCompanyManagement.WebUI.Models.SpecializationViewModel
@{
    ViewBag.Title = "Delete specialization " + Model.Name;
}

<h3>Are you sure you want to <strong>delete this specialization</strong>?</h3>

<div class="alert alert-secondary" role="alert">
    <p><strong>@Html.LabelFor(e => e.Name): </strong>@Model.Name</p>
    <p><strong>@Html.LabelFor(e => e.Description): </strong>@Model.Description</p>
</div>
<div>
    @Html.ActionLink("Delete", "ConfirmDelete", "Specializations", new { id = Model.Id, }, new { @class = "btn btn-outline-danger" })
</div>
<br />
@Html.Partial("_ReturnToSpecializations")