@model (bool, RepairCompanyManagement.WebUI.Models.TaskViewModel)

<td>@Html.Partial("_TaskStatusBadge", Model.Item2.Status)</td>
<td>@Model.Item2.Title</td>
@if (Model.Item1)
{
    <td>@Model.Item2.BrigadeName</td>
    <td>@Model.Item2.Owner</td>
}
<td>@Model.Item2.SpecializationName</td>
<td>@Model.Item2.Description</td>
<td>@Model.Item2.Price</td>
<td>@Model.Item2.TaskCompletionDate.ToString("d")</td>
