@model RepairCompanyManagement.WebUI.Models.OrderInfoViewModel
@{ ViewBag.Title = "My Orders";
    
    var anyTasks = Model.Tasks != null && Model.Tasks.Any();
    var isManager = User.IsInRole("Manager");
    var columnsCount = isManager ? 9 : 7;
    var totalPriceColumnsSpan = columnsCount - 3;
    var isCustomer = User.IsInRole(RepairCompanyManagement.WebUI.Identity.IdentityConstants.CustomerRole); }

<h2>Order</h2>
@Html.HiddenFor(x => x.Id)
<p><strong>Status: </strong>@Model.OrderStatus</p>
<p><strong>Title: </strong>@Model.Title</p>
<p><strong>Requirements: </strong>@Model.Requirements</p>
@if (isManager)
{
<p><strong>Customer: </strong>@Model.CustomerName</p>}
<hr>
<h2>Order Tasks:</h2>
<hr />
@if (isCustomer)
{
@Html.ActionLink("Create new task", "SelectTaskSpecialization", "Orders", new { orderId = Model.Id }, new { @class = "btn btn-primary" })}
<hr />
<table class="table">
    <tr>
        <th>Status</th>
        <th>Title</th>
        @if (isManager)
        {
            <th>Brigade</th>
            <th>Owner</th>
        }
        <th>Specialization</th>
        <th>Description</th>
        <th>Price</th>
        <th>Completion date</th>
        <th></th>

    </tr>
    @if (anyTasks)
    {
        foreach (var item in Model.Tasks)
        {
            <tr>
            @Html.Partial("_OrderTaskTableItem", (isManager, item))
            @if (Model.OrderStatus is RepairCompanyManagement.WebUI.Enums.OrderStatus.NotConfirmed)
            {
                <td>
                    @Html.ActionLink("Delete", "DeleteTask", "Orders", new { idTask = item.Id, idOrder = Model.Id }, new { @class = "btn btn-outline-danger" })
                </td>
            }
            else
            {
                <td></td>
            }
            </tr>
        }
        <tr colspan="@totalPriceColumnsSpan">
            <td><strong>Total: </strong></td>
            <td>@Model.TotalPrice</td>
            <td></td>
        </tr>
    }
    else
    {
        <tr>
            <td colspan="@columnsCount" class="text-center"> No tasks</td>
        </tr>
    }
</table>
<div class="alert alert-primary" role="alert">
    <strong>Your balance: </strong> @Model.MoneyOfUser
</div>
@if(isCustomer && Model.OrderStatus == RepairCompanyManagement.WebUI.Enums.OrderStatus.NotConfirmed)
{
    @Html.ActionLink("Pay", "Pay", "Orders", new { idOrder = Model.Id }, new { @class = "btn btn-outline-success", @style = "width:100px;margin-right:10px" })
    @Html.ActionLink("Refuse", "Refuse", "Orders", new { idOrder = Model.Id }, new { @class = "btn btn-outline-danger", @style = "width:100px" })
}
<hr/>
@Html.ActionLink("Return to Orders", "Index", null, new { @class="btn btn-outline-secondary" })