@model RepairCompanyManagement.WebUI.Models.OrderViewModel

<td>@Model.Title<td>
<td>@Model.CustomerName</td>
<td>@Html.Partial("_OrderStatusBadge", Model.OrderStatus)</td>
<td>@Model.Requirements</td>
<td> @Html.ActionLink("Info", "Info", "Orders", new { id = Model.Id, }, new { @class = "btn btn-outline-primary" })</td>
